@media screen and (max-device-width: 480px)
{
    #main-menu{
        height:12%;
    }
    #main-menu .main-item-2, .main-item-3{
        display: none;
    }
    #main-menu .main-item-4{
        display:block;
        display: flex;
        align-items:center;
        justify-content: right;
        grid-column: 2/4;
    }
    #main-menu .main-item-4 button{
        background:none;
        border:2px solid white;
        border-radius: 20%;
        outline:none;
    }
    #mV_content{
        width: 90%;
    }
    #mV_content .col-sm-2{
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .grid-container{
        grid-template-columns: auto 80% auto;
    }
    #goHome{
        width:50px;
        height:50px;
        right:20px;
        bottom:20px;
    }
    #url-index, #makeViewsButton, .col-sm-4, .col-sm-3, .col-sm-5{
        margin-top:10px;
    }
    .toggle{
        width:80px;
        height:40px;
        border-radius:20px;
        cursor:pointer
    }
    .toggle_input{
        display:none;
    }
    .toggle_fill{
        position:relative;
        width:80px;
        height:40px;
        border:2px solid white;
        border-radius:20px;
        background: grey;
        transition: background 0.5s;
    }
    .toggle_fill::after{
        content:"";
        position:absolute;
        height:45px;
        width:45px;
        background:black;
        top:-5px;
        left:-5px;
        border-radius:50%;
        border:2px solid white;
        transition: transform 0.5s;
    }
}
